.buttonNavTwo {
    color: var(--color-OffWhite) !important;
    background-color: var(--color-Blue) !important;
    text-decorator: none !important;
    text-color: var(--color-Yellow) !important;
    font-size: 1vw !important;
}

.linkNavTwo {
    color: 'White' !important;
    text-color: var(--color-Yellow) !important;
}