:root{
    --color-OffWhite: #EBEAE5;
    --color-Yellow: #fefab6;
    --color-Blue: #77a493;
    --color-Pink: #c75f77;
    --color-Purple: #836177;
    --color-Brown: #654b49;
    --color-Black: #000000;
}

.container {
    background-color: var(--color-Thistle);
}

.titulo {
    color: var(--color-Amarelo) !important;
    font-weight: "bold" !important;
    text-align: justify;
}
.texto {
    color: white !important;
    font-weight: "bold" !important;
    font-size: 20px;
}

.fotoHome {
    width: max(350px, 65%);
    margin: 0 auto;
    display: block;
}
.containerCards{
    padding: 40px;
    justify-content: space-around;
}

.cardsPink{
    justify-content: start;
    border-radius: 12px;
    padding: 10px;
    background-color: var(--color-CarnationPink);
}

.cardsBlue{
    border-radius: 12px;
    padding: 10px;
    background-color: var(--color-UranianBlue);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

