:root {
  --color-OffWhite: #ebeae5;
  --color-Yellow: #fefab6;
  --color-Blue: #77a493;
  --color-Pink: #c75f77;
  --color-Purple: #836177;
  --color-Brown: #654b49;
  --color-Black: #000000;
}

.backgroundTeam {
  background-color: var(--color-OffWhite) !important;
}
