@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

h3 {
  font-weight: 100;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.gridCard {
  display: flex;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.cardProduto {
  height: 700px;
}

.nomeProduto {
  word-break: break-word;
  font-size: 26px;
  color: #836177;
  padding: 25px;
  margin: 15px;
}

.imgProduto {
  /* width: 350px;
  height: 350px; */
  font-size: 11px;
  word-break: break-word;
  color: #77a493;
  margin: auto;
  display: block;
  width: 90%;
  justify-content: center;
}

/* .imgBoxProduto {
    width: 350px;
    height: 350px;
} */

.txtPreco {
  font-weight: bolder;
  padding: 1rem;
  font-size: 24px;
  color: #c75f77;
}

.descricaoTxt {
  width: 100%;
  word-break: break-word;
  font-size: 17px;
  padding-bottom: 1.5rem;
  color: #654b49;
}

.dataProduto {
  padding-bottom: 2rem;
  font-size: 12px;
}

/* .btnProdutos {
  color: red;
} */
