<<<<<<< HEAD
=======
:root{
    --color-OffWhite: #EBEAE5;
    --color-Yellow: #fefab6;
    --color-Blue: #77a493;
    --color-Pink: #c75f77;
    --color-Purple: #836177;
    --color-Brown: #654b49;
    --color-Black: #000000;
}

>>>>>>> 895a85bff9c7a1dc4c02331f8f918be2f4fa91d6
.cursor{
    cursor: pointer;
    color: white;
}

.btn-legal{
    padding: 0 10px;
}

.btn-legal:hover{
    border-bottom:2px solid #d761c1aa !important;
    transition: 1.5s;
}

.img-logo{
    margin-top: 5px ;
    height: 80px;
    justify-content: start;
}

.caixaLogo{
    display: flex;
    float: left;
    align-items: center;
    font-size: 50px;
    /*Fonte temporaria*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}