:root{
    --color-OffWhite: #EBEAE5;
    --color-Yellow: #fefab6;
    --color-Blue: #77a493;
    --color-Pink: #c75f77;
    --color-Purple: #836177;
    --color-Brown: #654b49;
    --color-Black: #000000;
}

.cursor{
    cursor:pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none !important;
}

.text-color{
    color: var(--color-Yellow) !important;
}

