.text-decorator-none{
    text-decoration: none;
}

.imagemLogin {
    background-image: url('https://i.imgur.com/jAZOVhd.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-decorator-none{
    text-decoration: none;
}

.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }