.imggrid {
    width: 250px;
    height: 250px;
    zoom: 1;
    border-radius: 30px;
    border: 8px solid #fef9b5;
    box-shadow: 0 0 2px #000;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    background-color: #fef9b5;
}

.imggrid:hover {
    border: 8px solid #c75f77;
    box-shadow: 0 0 2px #000;
    background-color: #f9f9f9;
}

img {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;

}

img:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #3f7e5a;
    margin: 0;
    padding: 0;
}

