
:root{
  --color-OffWhite: #EBEAE5;
  --color-Yellow: #fefab6;
  --color-Blue: #77a493;
  --color-Pink: #c75f77;
  --color-Purple: #836177;
  --color-Brown: #654b49;
  --color-Black: #000000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}